%h4.newstitle New Servers
= image_tag('titletop1.png', class: 'newstopbottomborder')
%p.newservers
  - @newservers.each do |newserver|
    %p.newserverlist= link_to newserver.name, newserver
    / %p.novationlinktocat
    %b.catboldlink Category :
    %b.newscatlink= link_to newserver.category.name, newserver.category
    %br
    %br